@media screen and (max-width: 760px){
    
    header{
        flex-direction: column;
    }

    main{
        flex-direction: column;
    }

    h2{
        font-size: 38px;
    }

    form{
        margin: 0 auto;
        width: 100%;
    }

    input{
        align-self: center;
    }

    img{
        width: 100px;
        margin-top: 20px;
        align-self: center;
        margin-left: -30px;
    }

    ul{
        text-align: center;
    }

    footer{
        bottom: 0px;
    }


}